*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1310px;
}

.center-navbar-logo {
  height: 65px;
}

.top-navbar-date {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.fa-water {
  color: rgb(230, 230, 230);
  font-size: 18px;
}

.greater-than {
  font-size: 20px;
}

.top-navbar-signin {
  font-family: "Roboto Condensed", sans-serif;
}
.top-navbar-signup {
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  color: #f72210;
}

.right-navbar > a:hover {
  text-decoration: none;
}

.right-navbar > a:last-child:hover {
  color: #f72210;
}

.bg-red {
  background-color: #f72210;
}

.top-navbar > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navlinks:hover {
  color: rgb(197, 21, 5);
  text-decoration: none;
}

.search {
  width: 4rem;
  border: none;
}

.features-img-link {
  bottom: 0;
  left: 0;
  opacity: 0.9;
  color: #f72210;
}

.features-img-link:hover {
  text-decoration: none;
  color: #f72210;
}

.font-roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.card-title > a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  color: black;
  line-height: 1.4rem;
  display: block;
  margin-top: 1rem;
}

.card-text {
  line-height: 20px;
  font-size: 15px;
}

.font-lora > a {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 20px;
}

.font-lora > a:hover {
  text-decoration: none;
}

.center-img-link {
  bottom: 0;
  left: 0;
  opacity: 0.9;
  color: black;
}

.center-img-link:hover {
  text-decoration: none;
  color: black;
}

.pandemic-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(85, 85, 85);
}

.stories-link {
  text-decoration: none;
  color: black;
  line-height: 20px;
}

.debate{
  border-top: 4px red solid;
  border-bottom: 3px double rgb(156, 156, 156);
}

.debate-2{
  border-top: 4px #1C87FB solid;
  border-bottom: 3px double rgb(156, 156, 156);
}

.debate-image{
  width: 95px;
  height: 95px;
}

.debate-writer-image{
  width: 65px;
  height: 65px;
  margin-top: -10px;
}
.circle-bg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  border: none;
}

.stories-link:hover {
  color: black;
}
.pandemic-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(85, 85, 85);
}
.opinion-link {
  text-decoration: none;
  color: black;
  line-height: 17px;
  line-height: 21px;
}

.opinion-writer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(66, 66, 66);
  font-weight: bold;
}

.signup {
  background-color: #f4f5f6;
}

.signup-p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
}

.signup-img {
  width: 32px;
  height: 28px;
}

.signup-desc {
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: none;
}

.signup-desc:hover {
  text-decoration: none;
  color: black;
}

.magazine-first-img {
  max-width: 290px;
  max-height: 390px;
}

.magazine-date {
  bottom: 0;
  color: #f72210;
  font-weight: bold;
  margin-top: -10px;
}

.magazine-first-link {
  text-align: center;
  background-color: #f4f5f6;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}

.magazine-first-link:hover {
  text-decoration: none;
  color: black;
  background-color: rgb(167, 167, 167);
}

.magazine-other-img {
  width: 290px;
  height: 290px;
}

.magazine-cover {
  background-color: #f72210;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 16px;
}

.magazine-other-links {
  font-family: "Roboto Condensed", sans-serif;
  color: #f72210;
  font-weight: bold;
  font-size: 12;
}

.magazine-other-links:hover {
  text-decoration: none;
  color: #f72210;
}

.magazine-other-links-2 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 20px;
  line-height: 22px;
  text-decoration: none;
}

.magazine-other-links-2:hover {
  color: black;
}

.subscribe-2nd-image {
  top: 15px;
  left: 75px;
}

.footer-subscibe {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.subscribe-desc-container {
  max-width: 503px;
  padding-top: 150px;
  max-height: 176px;
}

.footer-subscribe-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(63, 63, 63);
}

.footer-subscribe-container {
  padding: 2rem;
}

.footer-subscribe-button {
  background-color: #f72210;
  color: white;
  font-weight: bold;
  border: none;
}

.subscribe-images {
  width: 253px;
  height: 248px;
}

.social-links {
  font-size: 24px;
  color: #666666;
  vertical-align: center;
}

.footer-newsweek {
  font-family: "Alegreya", serif;
  font-size: 48px;
  color: #f72210;
  font-weight: 800;
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: rgb(99, 99, 99);
}
ul {
  list-style: none;
}

ul > li {
  display: inline;
}

ul > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(110, 110, 110);
}

ul > li > a:hover {
  text-decoration: none;
  color: black;
}

ul > li::after {
  content: "|";
  margin: 5px;
  color: rgb(161, 161, 161);
}

ul > li:last-child::after {
  content: "";
}

@media (min-width: 576px) {
  .magazine-first-img,
  .magazine-other-img {
    max-width: 100%;
  }
  .magazine-first-link {
    width: 100%;
  }

  .footer-subscribe-container {
    background-color: #f4f5f6;
    flex-direction: column;
    justify-content: space-around;
    max-width: 740px;
    max-height: 450px;
  }
}

@media (min-width: 768px) {
  .footer-subscribe-container {
    flex-direction: row;
    max-width: 820px;
    max-height: 302px;
  }
  .footer-newsletter-container {
    max-width: 416px;
    max-height: 302px;
  }

  .newsletter-img {
    width: 190px;
    display: block;
    height: 302px;
    background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5")
      no-repeat scroll center center / cover;
  }
  .newsletter-desc {
    width: 226px;
    height: 302px;
  }
}
